{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://res.cloudinary.com/devolsdzk/image/upload/v1572886842/Personal/7b67e26f-7b9f-4800-a0df-303e10d919bc_200x200_otzvxr.png" rel="icon" sizes="96x96" type="image/png">
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    
    <title>SirDesmond</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href= "{% static 'css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <img src="https://res.cloudinary.com/devolsdzk/image/upload/v1572875581/Personal/IMG_20190901_032707_ysm42t.jpg" alt="Nnebue Desmond" />
            </div>
            <div class="author-content">
              <h4>Nnebue Desmond</h4>
              <span>Design Engineer | Software Developer | Speaker | Entreprenuer </span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">About Me</a></li>
                <li><a href="#section2">What I’m good at</a></li>
                <li><a href="#section3">My Work</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://www.facebook.com/nnebue.ebuka"
                  target="_blank"><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/sirdesmond09" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/desmond-nnebue-660920148/"><i class="fa fa-linkedin" target="_blank"></i></a>
                </li>
                <li>
                  <a href="https://github.com/sirdesmond09" target="_blank"><i class="fa fa-github"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Copyright 2019 SirDesmond </p>
              <p>Template From Reflux Design</p>
            </div>
          </div>
        </div>
      </div>

      
    

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>About Me</h2>
            <div class="line-dec"></div>
            <span>
              I am a self motivated individual and I am passionate about whatever I do. I have interests in self development, capacity and nation building.
              I am an inspirational speaker, an entrepreneur and Co-founder of Kenyosworld a business startup that deals with varieties of fashion wears and accessories. I am also on the executive team of The Unique Mode platform, where young minds are trained and developed for their future. 
              I'm a lover of Christ and His body. I love to impact young minds and I always want to see that things are done as it ought to be.</span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  {% comment %} <img src="" alt="Me" /> {% endcomment %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Portfolio</h4>
                  <p>
                    I've worked on a couple of things that I'm proud of. Some of them, you can find as you go down check but before you go there, feel free to check out my Resumé.
                  </p>
                  <div class="white-button">
                    <a href="https://docs.google.com/document/d/1SSNLO5O68m9gA4roIYuj78XqF_GsoUOCl8PfFec4-0I/edit?usp=sharing" target = '_blank'>Check Resumé</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>What am I good at?</h2>
            <div class="line-dec"></div>
            <span>
              I have a desire to learn and a passsion to impact lives by doing great things that brings about innovative changes in my world. I don't just want to sit back and talk, I actually want to work the work, I think you should too. 
            </span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class=" third-service-icon service-icon "></div>
                <h4>Engineering Designs</h4>
                <p>
                  Having a background in engineering, I love to design and create models for manufacturing and 3D printing. Making use of great softwares like Autodesk AutoCad, Autodesk Inventor, I find it very easy to create models for manufacturers to produce and fabricate.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="second-service-icon service-icon"></div>
                <h4>Software Development</h4>
                <p>
                  Creating softwares and writing lines of code that actually makes things work and make live easy for the average human is a whole lot of fun. So learning Python, HTML5, CSS3, Wordpress and all others helps me to achieve this. I have also recently dived into the world of Artificial Intelligence and Data Science.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>Public Speaking</h4>
                <p>
                  With great confidence and a desire to touch the lives of people who can't be reached by either engineering or software development combined with great charisma and a God-given speech, I reach them by speaking in meetings, confrences etc to either impact, motivate or inspire the average person to get into greatness.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>Learning</h4>
                <p>
                  Quite funnny right? But you know we all need to keep updated so as not to be outdated. Inasmuch as I want to reach a whole lot of people, i dont want to run out of what to tell them so I enroll for online courses, read books and attend seminars in order to keep fit mentally and spiritually.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>My Work</h2>
            <div class="line-dec"></div>
            <span
              >Here's a few of my engineering designs!</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              
              <div class="isotope-box">
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="https://res.cloudinary.com/devolsdzk/image/upload/v1572870987/Personal/DESK_lamp-Temp0000_uel10j.png"
                      alt="Desklamp"
                    />
                    <figcaption>
                      <a
                        href="https://res.cloudinary.com/devolsdzk/image/upload/v1572870987/Personal/DESK_lamp-Temp0000_uel10j.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ></a>
                      <h4 style="color: #3f87a4;">Desk Lamp</h4>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="https://res.cloudinary.com/devolsdzk/image/upload/v1572870968/Personal/bath_ttubb_yxqyve.png"
                      alt="Bath-tub"
                    />
                    <figcaption>
                      <a
                        href="https://res.cloudinary.com/devolsdzk/image/upload/v1572870968/Personal/bath_ttubb_yxqyve.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ></a>
                      <h4 style="color: #3f87a4;" >Bath Tub</h4>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="https://res.cloudinary.com/devolsdzk/image/upload/v1572870908/Personal/tissue_box_whcmtw.png"
                      alt="Tissue Box"
                    />
                    <figcaption>
                      <a
                        href="https://res.cloudinary.com/devolsdzk/image/upload/v1572870908/Personal/tissue_box_whcmtw.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ></a>
                      <h4 style="color: #3f87a4;">Tissue box
                      </h4>
                      
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
            <span
              >Feel free to contact me by filling the form below!</span
            >
          </div>
          
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject of message..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="left-image-post">
      
              {% if messages %}
                <div class="row">
                  <div class="col-md-6" >
                    {% for message in messages %}
                    <p style="color: rgb(90, 193, 211);"> {% if message.tags %} {% endif %}{{ message }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}    
            </div>
        </div>

      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
